<br />

<h4>@ViewBag.Message</h4>

<h4>@ViewBag.Message2</h4>
<hr />

<div class="row visible-md visible-lg">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="carousel slide" id="theCarousel" data-interval="4000">

            <ol class="carousel-indicators">
                <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#theCarousel" data-slide-to="1"></li>
                <li data-target="#theCarousel" data-slide-to="2"></li>
                <li data-target="#theCarousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Image/karu1.jpg" alt="1" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>Husqvarna</h4>
                        <p>Husqvarna mod 24, 1948</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Image/karu2.jpg" alt="2" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>Husqvarna</h4>
                        <p>Husqvarna mod 27, 1950</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Image/karu3.jpg" alt="3" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>Puch</h4>
                        <p>Puch Dakota, 1971</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Image/karu4.jpg" alt="4" class="img-responsive" />
                    <div class="carousel-caption">
                        <h4>Dkw</h4>
                        <p>Dkw Hummel, 1960</p>
                    </div>
                </div>
            </div>

            <a href="#theCarousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
            <a href="#theCarousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>
        </div>
    </div>
</div>

