
@model  List<Project01.VM.OrderVM>

<h1>Orders</h1>


<h4>@ViewBag.Message</h4>

@using (Html.BeginForm("SearchOrder", "Order", FormMethod.Post))
{
    <div class="form-group form-inline">

        @Html.TextBox("Find", null, new { @class = "form-control" })

        <input type="submit" value="Find" class="btn btn-sm btn-info" />

    </div>
}

<div class="container">
    @foreach (var item in Model)
    {
        if (item.OrderId != 0)
        {
            <ul class="list-group list-inline">
                @{
                    Html.RenderAction("RenderOrder", "Order", new { p = item });
                }
            </ul>
                        }
                    }

</div>



<br />
<h4>Add order:</h4>

@using (Html.BeginForm("AddOrder", "Order", FormMethod.Post))
{

    <div class="form-group form-inline">

        <div class="col-xs-12">

            @Html.Label("Order total :")
            @Html.TextBox("Total", null, new { @class = "form-control" })

        </div>

            <input type="submit" value="Add" class="btn btn-sm btn-info" />


        </div>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

