@model Project01.VM.CartVM

<div id="Cart-@Model.ID">



    <div class="col-xs-2"> @Model.ItemName </div>
    <div class="col-xs-3"> @Model.ItemDescription </div>
    <div class="col-xs-2"> @Model.Price </div>
    <div class="col-xs-3"> @Model.Quantity </div>

    <div class="col-xs-1">
        @using (Ajax.BeginForm("EditCart", "Shop", new { id = Model.ID },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "Cart-" + Model.ID,
                            InsertionMode = InsertionMode.Replace

                        }))
        {
            <input type="submit" value="Edit" class="btn btn-sm btn-info" />
        }

    </div>



    <div class="col-xs-1">
        @using (Ajax.BeginForm("Delete", "Shop", new { search = Model.ID },
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "showPartial",
                                InsertionMode = InsertionMode.Replace

                            }))
        {
            <input type="submit" value="Delete" class="btn btn-sm btn-info" />
        }

    </div>


</div>

