@model Project01.VM.CartVM

<div id="Cart-@Model.ID">

<div class="col-xs-12">
    <div class="col-xs-3"> @Model.ItemName </div>
    <div class="col-xs-3"> @Model.ItemDescription </div>
    <div class="col-xs-3"> @Model.Price </div>
    <div class="col-xs-3"> @Model.Quantity </div>
</div>

</div>

